#view {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.section-container {
  width: 100%;
  height: 100%;
  &.with-transition{
    transition: transform 800ms cubic-bezier(0.645, 0.045, 0.355, 1)/*贝塞尔曲线，使动画根有力量感*/;
  }
}
.section-container section {
  width: 100%;
  height: 100%;
  //overflow: hidden;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
}

#section0 {
  .row0{
    display: flex;
    align-items: center;
    position: relative;
    height: 80vh;
  }
  .avatar{
    position: relative;
    display: flex;
    justify-content: flex-end;//子元素靠右
    margin-right: 32px;
    img {
      width: 128px;
      height: 128px;
      border-radius: 50%;
      right: 0;
    }
  }
  .title{
    margin: 0;
    left: 0;
    width: 80%;
  }

  .continue{
    background-color: transparent;
    border-color: transparent;
    svg{
      width: 10rem;
      height: 2rem;
    }
  }
}