@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.home-const{
  --section-transition: 800ms cubic-bezier(0.645, 0.045, 0.355, 1)/*贝塞尔曲线，使动画更有力量感*/;
}

#home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#sect-prog{
  position: fixed;
  width: 0;
  height: 0;
  top: 20vh;
  right: 0.5rem;
  //z-index: 1;
  .progress{
    rotate: 90deg;
    width: 60vh;
    position: absolute;
    left: -30vh;
    top: 30vh;
    --bs-progress-height: 0.5rem;
    .progress-bar{
      --bs-progress-bar-bg: #516470;
      //--bs-progress-font-size: 0.55rem;//经测试修改变量无效果
      font-size: 0.55rem;
      transition: width var(--section-transition);
    }
  }
}

.section-container {
  width: 100%;
  height: 100%;
  transition: transform var(--section-transition);
}
.section-container section {
  width: 100%;
  height: 100%;
  //overflow: hidden;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
}

//region shared-scrollbar
//Chrome浏览器的滚动条样式
@mixin shared-scrollbar_-webkit-scrollbar{
  width: 3px;//垂直滚动条宽度
  height: 100%;//水平滚动条高度
}
//滚动条滑块
@mixin shared-scrollbar_-webkit-scrollbar-thumb{
  background: var(--bs-border-color);
  border-radius: 5px;
  transition: background 0.3s;
}
//滑块悬停
@mixin shared-scrollbar_-webkit-scrollbar-thumb_hover{
  background: var(--bs-body-color);
}
//滚动条滑道
@mixin shared-scrollbar_-webkit-scrollbar-track{
  background: var(--bs-btn-active-border-color);
  border-radius: 5px;
}
//滚动条上下箭头按钮
@mixin shared-scrollbar_-webkit-scrollbar-button{
  display: none;//隐藏按钮
}
@mixin shared-scrollbar_firefox-scrollbar{
  @-moz-document url-prefix() {//firefox样式隔离，大括号内的样式供firefox浏览器使用
    scrollbar-width: thin; //细滚动条
    scrollbar-color: var(--bs-border-color) transparent; //滑块颜色；滑道颜色
  }
}

//#endregion

#section-1{
  .container-main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .col0{
      .spinner-border{
        height: 3rem;
        width: 3rem;
      }
    }
    .col1{

    }
  }
}

#section0 {
  .row0{
    @include media-breakpoint-up(xs) {}
    @include media-breakpoint-up(sm) {
      display: flex;
      align-items: center;
    }
    position: relative;
    height: 80vh;
  }
  .avatar-col {
    @include media-breakpoint-up(xs) {
      height: 40vh;
      position: relative;
    }
    @include media-breakpoint-up(sm) {
      height: unset;
    }
    .avatar {
      @include media-breakpoint-up(xs) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-right: 0;
        bottom: 0;
      }
      @include media-breakpoint-up(sm) {
        position: relative;
        display: flex;
        justify-content: flex-end; //子元素靠右
        margin-right: 32px;
      }

      .img-loader {
        width: 128px;
        height: 128px;
        .img-box {
          border-radius: 50%;
        }
      }
    }
  }
  .title-col {
    @include media-breakpoint-up(xs) {
      height: 40vh;
      position: relative;
    }
    @include media-breakpoint-up(sm) {
      height: unset;
    }
    .title {
      max-width: 424.8px;
      height: 3.3rem;
      line-height: 2rem;

      @mixin sm {
        left: 0;
        width: 80%;
        margin: 0;
      }
      @include media-breakpoint-up(xs) {
        font-size: 0.97rem;
        left: unset;
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5vh;
      }
      @include media-breakpoint-up(sm) {
        font-size: 0.83rem;
        @include sm;
      }
      @include media-breakpoint-up(md) {
        font-size: 1.2rem;
        @include sm;
      }
      @include media-breakpoint-up(lg) {
        font-size: 1.6rem;
        @include sm;
      }
    }
  }

  .continue{
    background-color: transparent;
    border-color: transparent;
    svg{
      width: 10rem;
      height: 2rem;
    }
  }
}

#section1 {
  .container-main{
    width: 100%;
    height: 100%;
    .row-main {
      .row0 {
        %style{
          @include media-breakpoint-up(xs) {
            height: 35vh;
            padding-top: .8rem;
          }
          .img-loader {
            height: 100%;
            width: 100%;
          }
        }

        .lang-used {
          @extend %style;
          @include media-breakpoint-up(lg) {
            height: 60vh;
            padding-top: .8rem;
          }
        }
        .skill {
          @extend %style;
          @include media-breakpoint-up(lg) {
            height: 40vh;
            padding-top: 0;
            padding-bottom: .8rem;
          }
          .img-loader {
            @include media-breakpoint-up(xs) {
              --left-or-right-in: right;
            }
            @include media-breakpoint-up(lg) {
              --left-or-right-in: left;
            }
          }
        }
      }
      .row1{
        text-align: left;
        @include media-breakpoint-up(xs) {
          margin-top: 2.5vh;
        }
        @include media-breakpoint-up(lg) {
          margin-top: 5vh;
        }
        .card{
          @mixin card-xs{
            height: 28.75vh;
            margin-bottom: 2.5vh;
          }
          @mixin card-lg{
            height: 42.5vh;
            margin-bottom: 5vh;
          }
          @include media-breakpoint-up(xs) {
            font-size: 0.6rem;
            @include card-xs;
          }
          @include media-breakpoint-up(sm){
            font-size: 0.65rem;
            @include card-xs;
          }
          @include media-breakpoint-up(md) {
            font-size: 0.75rem;
            @include card-xs;
          }
          @include media-breakpoint-up(lg) {
            font-size: 0.75rem;
            @include card-lg;
          }
          @include media-breakpoint-up(xl){
            font-size: 0.85rem;
            @include card-lg;
          }
          @include media-breakpoint-up(xxl){
            font-size: 1.09rem;
            @include card-lg;
          }

          .card-header{
            text-align: center;
            .card-header- {
              margin: 0;
              @include media-breakpoint-up(xs) {
                font-size: 0.7rem;
              }
              @include media-breakpoint-up(sm){
                font-size: 1.25rem;
              }
              %shared{
                position: relative;
                width: 0;//使用宽度0加溢出显示特性，使其不占实体位置
                overflow: visible;
                display: inline-block;
                left: -1.5em;
              }
              &.n0::before{
                content: "💡";
                @extend %shared;
              }
              &.n1::before{
                content: "🔧";
                @extend %shared;
              }
              &.n2::before{
                content: "🌐";
                @extend %shared;
              }
              &.n3::before{
                content: "🚀";
                @extend %shared;
              }
            }
          }

          .card-body {
            overflow: scroll;
            ul {
              margin: 0;
              padding-left: 1rem;
            }
            @include shared-scrollbar_firefox-scrollbar;
          }
          .card-body::-webkit-scrollbar{
            @include shared-scrollbar_-webkit-scrollbar;
          }
          .card-body::-webkit-scrollbar-thumb{
            @include shared-scrollbar_-webkit-scrollbar-thumb;
          }
          .card-body::-webkit-scrollbar-thumb:hover{
            @include shared-scrollbar_-webkit-scrollbar-thumb_hover;
          }
          .card-body::-webkit-scrollbar-track{
            @include shared-scrollbar_-webkit-scrollbar-track;
          }
          .card-body::-webkit-scrollbar-button{
            @include shared-scrollbar_-webkit-scrollbar-button;
          }
        }
      }
    }
  }
}

#section2 {
  .container-main {
    .col0{
      .title{
        margin-top: 1.5rem;
        margin-bottom: 0.8rem;
      }
    }
    .col1 {
      max-height: 80vh;
      .accordion {
        max-height: 70vh;
        margin-left: 10%;
        margin-right: 10%;
        .accordion-button{
          --#{$prefix}accordion-btn-padding-x: 1rem;
          --#{$prefix}accordion-btn-padding-y: 0.5rem;
          span{
            max-width: 80%;
            word-break: break-all;
          }
        }
        .accordion-body{
          max-height: 40vh;
          overflow: scroll;
          @include shared-scrollbar_firefox-scrollbar;
        }
        //region accordion-body_scrollbar
        .accordion-body::-webkit-scrollbar{
          @include shared-scrollbar_-webkit-scrollbar;
        }
        .accordion-body::-webkit-scrollbar-thumb{
          @include shared-scrollbar_-webkit-scrollbar-thumb;
        }
        .accordion-body::-webkit-scrollbar-thumb:hover{
          @include shared-scrollbar_-webkit-scrollbar-thumb_hover;
        }
        .accordion-body::-webkit-scrollbar-track{
          @include shared-scrollbar_-webkit-scrollbar-track;
        }
        .accordion-body::-webkit-scrollbar-button{
          @include shared-scrollbar_-webkit-scrollbar-button;
        }
        //endregion

        .inset-image{
          @include media-breakpoint-up(xs) {
            width: 100%;
          }
          @include media-breakpoint-up(sm) {
            width: 80%;
          }
          @include media-breakpoint-up(md) {
            width: 25vw;
          }
          .img-box {
            border-radius: 10px;
          }
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

#section3{
  .container-main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .col0{
      .img-loader{
        width: 100%;
      }
    }
    .col1{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-top: 2vh;
      height: 20vh;
      .card{
        overflow: scroll;
        max-height: 100%;
        @include shared-scrollbar_firefox-scrollbar;
      }
      //region card_scrollbar
      .card::-webkit-scrollbar{
        @include shared-scrollbar_-webkit-scrollbar;
      }
      .card::-webkit-scrollbar-thumb{
        @include shared-scrollbar_-webkit-scrollbar-thumb;
      }
      .card::-webkit-scrollbar-thumb:hover{
        @include shared-scrollbar_-webkit-scrollbar-thumb_hover;
      }
      .card::-webkit-scrollbar-track{
        @include shared-scrollbar_-webkit-scrollbar-track;
      }
      .card::-webkit-scrollbar-button{
        @include shared-scrollbar_-webkit-scrollbar-button;
      }
      //endregion
    }
  }
}