@import './section-animation.scss';

.avatar{
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.backgroudimg{
  position:relative;
  width: 64px;
  height: 64px;
}
.backgroudimg:before{
  content: "";
  background-image: var(--bgi-src);
  background-size: contain;
  width: 64px;
  height: 64px;
  position: absolute;
  left: -50%;
  top: -50%;
  transform: translate(50%,25%);
  z-index: -1;
}

.div-left-center{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.div-top-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.title-and-content{
  @extend .div-left-center;
  text-align: left;
}

.content-width{
  width: 70%;
}

.details-box{
  background-color: #151515;
  border-radius: 10px;
  text-align: initial;
  padding: 16px;
  overflow: scroll;
}

.border-box{
  //板块边框
  border: 2px solid var(--bs-border-color);
  border-radius: 20px;
  height: 100%;
  padding: 16px;
}
.border-title{
  //板块标题
  color:var(--bs-border-opacity);
  text-align: left;
}

.transparent-cover{
  //透明盖板，阻挡用户点击
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card{
}

.ulli-not-dot{
  padding: 0;
  margin: 0;
  list-style: none;
}

.card-box-nohave-border{
  //卡片的边距，不包含边框
  padding: 5px 8px;
  margin: 8px;
  height: 100%;
}
.card-background{
  background-color: rgba(0, 0, 0, 0.1);
}

.img-size_16-9{
  width: 100%;
  aspect-ratio: 16 / 9;
}